/* all margin setup */
*
{
    margin: 0%;
    padding: 0%;
}



/* Import Font MerriWeather */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Merriweather:wght@700&family=News+Cycle&display=swap');
/* Import Font MerriWeather */


/* Using Google Font */
header h1
{
    font-family: 'Merriweather', serif;

}
/* Using Google Font */




/* custom Header */

.custom-header-text
{
    font-size:5.1vw;
}


/* Slider Image */
.custom-btn
{
    font-size: 0.8rem;
}


/* Courses Image */
.large-course-image
{
    height:18vw;
    width: 18vw;
}


/* Mobile p font and button custom text */
.custom-mobile-and-button-font
{
    font-size: 3vw;
}




